@font-face {
   font-family: 'BerkshireSwash-Regular';
   font-display: swap;
   src: url('file:///C:/Users/Admin/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-06-15_102551/fonts/BerkshireSwash-Regular/font.ttf');
}
